h1{
    color:#f4c2c2;
    height: 26px;
    width: 225px;
    border: dotted #bb6f91  2px;
    margin-left: 57px;
    margin-top: 25px;
    padding: 10px;
    background-color: black;
}

.imag1{ 
    margin-left: 125px;
    margin-top: 15px;
}

.fondonegro{
    color: aliceblue;
    padding: 20px;
    border: outset #df3687  2px;
    width: 250px;
    margin-left: 30px;
}

.button:hover {
    background-color: violet;
    color: black;
    border: dotted purple  2px;
}

.estoy{
    background-color: violet;
    color: black;
    border: dotted black  1px;
}

.clase1{
    background-color: red;
    margin-left: 125px;
    margin-top: 15px;
}

.clase6.button{
    background-color: #bb6f91;
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 10px;
}

